
<div id="footer">
    <div class="container">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            Test SteelKiwi
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <h3>Контакти</h3>
            <small>Телефон: +38 (095) 415-0177<br/>E-mail: mish_k98@mail.ru
            </small>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 copy">
            <p class="text-center">&copy; <a href="http://mishatronic.ucoz.ua/" target="_blank">Мішатронік 2013 - {% now "Y" %}</a></p>
        </div>
    </div>
</div>
